
.hero-background {
    background-image: url("https://images.hdqwalls.com/download/2019-tesla-model-y-4k-or-3840x2160.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding-top: 30vw;

}

.get-started-bg {
    background-image: url("img/hero-getstarted.png") ;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    padding-top: 45vw;

}

.uber {
    text-decoration: none;
}

